<div class="contenedor">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/../assets/temperatura.png" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sensor {{ nodeId }}</h5>
          <p class="card-text">Último Registro Temperatura: {{ lastValue }}</p>
          <p class="card-text">Último Registro Humedad: {{ lastValue }}</p>
          <p class="card-text"><small class="text-body-secondary">Última actualización: {{ lastTimestamp }}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenedor">
  <h2>Gráfica de Temperatura y Humedad</h2>
  <canvas id="tempHumidityChart"></canvas>
</div>
